.app.dark {
  background-color: #111;
  // background-color: #222;
  color: rgb(156, 156, 156);
  transition: all 0.3s ease-in-out;

  .chart-grid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    background-color: #111;
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;
    transition: all 0.3s ease-in-out;

    .top {
      border-color: #333;
      .logo {
        color: #999;
      }
    }

    li {
      &:hover {
        background-color: #333;
      }
    }
  }

  .data-table {
    .data-grid {
      color: gray;
      border: none;

      .view-button,
      .delete-button,
      .cellWithStatus {
        color: gray;
        border: none;
      }
    }
  }

  input {
    background-color: transparent;

    &::placeholder {
      color: gray;
    }
  }
}
